# Node.js modules
**/node_modules/

# Build output directories
**/dist/
**/build/

# Logs
**/logs/

# Environment variables
.env
.env.local
.env.*.local

# IDE/editor settings
.idea/
.vscode/

# Angular
**/.angular/cache/

#Mac
.DS_Store