<div id="mainContainer">
    <div id="headerContent">
        <h1>Hello, User!</h1>
        <h3>Welcome to the book tracker site</h3>
    </div>
    
    <div id="userSpecificContainer">
        <h2 class="list-title">Current Reads</h2>
        <div *ngIf="currentReads$.length > 0; else loadingTemplate">
            <div class="book-card-container">
                <div *ngFor="let book of currentReads$">
                    <ng-container *ngTemplateOutlet="bookCard; context: { $implicit: book }"></ng-container>
                </div>
            </div>
        </div>
        
        <h2 class="list-title">To be Read</h2>
        <div *ngIf="currentReads$.length > 0; else loadingTemplate">
            <div class="book-card-container">
                <div *ngFor="let book of toBeRead$">
                    <ng-container *ngTemplateOutlet="bookCard; context: { $implicit: book }"></ng-container>
                </div>
            </div>
        </div>
    </div>
    
    <div id="suggestionsContainer">
        <h2 class="list-title">Trending Books</h2>
        <div class="book-card-container">
            <div *ngFor="let i of books">
                <ng-container *ngTemplateOutlet="bookCard"></ng-container>
            </div>
        </div>
        
        <h2 class="list-title">New and Noteworthy</h2>
        <div class="book-card-container">
            <div *ngFor="let i of books">
                <ng-container *ngTemplateOutlet="bookCard"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <p>Loading...</p>
</ng-template>

<ng-template #bookCard let-book>
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ getRandomTitle() }}</mat-card-title>
          <mat-card-subtitle>{{ getRandomAuthor() }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="getRandomCover()" alt="Book Cover Image">
    </mat-card>
</ng-template>